@import "tailwindcss";

:root {
  --background: #3b3b3b;
  --background-dark: #353535;
  --background-light: #414141;
  --background-lighter: #4f4f4f;

  --surface: #4c4c4c;

  --text: #cacaca;
  --text-muted: #7f7f7f;

  --border: #484848;
  --input-border: #5b5b5b;

  --success: #44d6b9;
  --danger: #dc8163;
}

@theme inline {
  --color-background: var(--background);
  --color-background-dark: var(--background-dark);
  --color-background-light: var(--background-light);
  --color-background-lighter: var(--background-lighter);
  --color-surface: var(--surface);

  --color-text: var(--text);
  --color-text-muted: var(--text-muted);

  --color-border: var(--border);
  --color-input-border: var(--input-border);

  --color-success: var(--success);
  --color-danger: var(--danger);

  --font-sans: var(--font-sans);
  --font-display: var(--font-display);
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-sans);
}

.font-display {
  font-family: var(--font-display);
}

input,
textarea,
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  box-shadow: none;
}

input:disabled,
textarea:disabled,
select:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0.5;
  cursor: pointer;
}

textarea {
  resize: none;
}
